{% extends "layout.twig" %}

{% block content %}
      <div class="row">
        <div class="col-md-12">
          <h2>Inscription :</h2>
		<p>
			Vous vous &ecirc;tes correctement enregistr&eacute;(e) sur l'application NodeJS, {{ user }} !
		</p>
        </div>
      </div>
{% endblock %}
